<div data-ng-show="items.length > 0">
    <header class="clearfix">
        <h4 class="pull-left" style="padding-right: 30px;">Last operations:</h4>
        <ul class="nav nav-pills full-right" style="font-size: 12px;">
            <li role="presentation"><a href="#">Export in PDF</a></li>
            <li role="presentation"><a href="#">Export in CSV</a></li>
            <li role="presentation"><a href="#">10 20 30 40</a></li>
            <li role="presentation"><a href="#">Show Filters</a></li>
        </ul>
    </header>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Description</th>
            <th>Amount</th>
            <th>Time</th>
            <th>Wallet</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in list">
            <td><ng-icon data-description="row.description"></ng-icon></td>
            <td>{{row.description}}</td>
            <td>{{row.amount | currency:"":2}} {{row.currency}}</td>
            <td>{{row.datetime | date}}</td>
            <td>{{row.wallet}}</td>
        </tr>
        </tbody>
        <tfoot data-ng-show="pages > 1">
        <tr>
            <td colspan="5" class="text-right">
                <ul class="pager">
                    <li><button class="btn btn-default" data-ng-click="prev()" data-ng-disabled="page == 1"> < </button></li>
                    <li>Showing {{start+1}}-{{end}} of {{count}}</li>
                    <li><button class="btn btn-default" data-ng-click="next()" data-ng-disabled="page == pages"> > </button></li>
                </ul>
            </td>
        </tr>
        </tfoot>
    </table>
</div>